<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
          <ion-label position="floating">Firstname</ion-label>
          <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Lastname</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  </ion-list>
   <ion-input type="hidden" formControlName="id"></ion-input>
    <ion-button type="submit">Update</ion-button>
  </form>

 
</ion-content>
